span.status {
  font-size: 0.75em;
  padding: 0.2em;
}

span.status.searching {
  background-color: #2a7ae2;
  color: #fff;
}

span.status.negotiating {
  background-color: #fead08;
  color: #fff;
}

span.status.completed {
  background-color: #e9e9e9;
  color: #fff;
}

span.status.closed {
  background-color: #000;
  color: #fff;
}

span.compensation.gratis {
  color: #ea1616;
  text-transform: capitalize;
}

span.compensation.paid {
  color: #1a980e;
  text-transform: capitalize;
}

small {
  color: #737373;
  font-weight: normal;
}

.form-group {
  margin-bottom: 30px;
}

.help-block {
  width: 70%;
}

legend {
  font-size: 25px;
}

.form-control {
  width: 70%;
}

a.btn.disabled {
  pointer-events: auto;
}

#floss {
  margin-top: 3rem;
}
