---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$montserrat: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
$lora: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;

/* We need to slowly remove these colors:  */
$grayscale-primary: $brand-color !default;
$grayscale-dark: #444 !default;
$grayscale-light: #fff !default;

$grayscale-body-font-family: $lora;
$grayscale-headline-font-family: $montserrat;



/* Vendor imports */
@import "vendor/_bootstrap.variables",
        "vendor/_bootstrap.mixins",
        "vendor/_bootstrap",
        "vendor/_font-awesome";

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "header",
        "layout",
        "footer",
        "logos",
        "front_page",
        "post",
        "summit",
        "summit-2017";
/*

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSans-Regular.ttf) format('ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 100;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/OpenSans-Light.ttf) format('ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/OpenSans-Bold.ttf) format('ttf');
}
*/
