---
layout: default
title: Articles
permalink: /articles/
---

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Articles</h1>
            <ul class="post-list row">
                {% for post in site.posts %}
                {% if post.layout == "post" %}
                <li>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <h2>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>
                </li>
              {% endif %}
              {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                We love to have new writers so if you have an idea for an
                article or something you've already written elsewhere, but would
                be a good addition here, please let us know.
            </p>
            <p>
                Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
            </p>
        </div>
    </div>
</div>
