---
layout: default
published: true
---

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="brand-heading">
                        {% include img/opensourcedesign-logo.svg %}
                    </div>
                    <h1 class="intro-text">Open Source Design</h1>
                    <p class="tagline">
                        Bringing great design to Open Source Software
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-md-4">
            <p><strong>We are a community of designers and developers pushing more open design processes and improving the user experience and interface design of open source software.</strong></p>
        </div>
        <div class="col-md-4">
            <p>We write <a href="/articles">articles</a>, run a <a href="/jobs">job board</a>, put on <a href="/events">events</a>, provide <a href="/resources">resources</a>, and present talks targeted at <strong>developers and designers</strong> interested in working and designing in Open Source.</p>
        </div>
        <div class="col-md-4">
            <p class="goals">Read more about <a href="/goals">our goals</a> and <a href="/faq">frequently asked questions</a>. If you are interested in contributing, check out the <a href="{{ site.url }}/contribute/" title="contribute">section on our site</a> for that. Also join our <a href="https://orgmanager.miguelpiedrafita.com/o/opensourcedesign" target="_blank">organization on GitHub</a> and <a href="https://discourse.opensourcedesign.net" target="_blank">our forum</a>.</p>
        </div>
    </div>
</section>
<section id="overview" class="container content-section overview">
    <div class="row">
        <div class="col-md-4">
            <h2>Articles</h2>
            {% for post in site.posts limit:3 %}
                <div class="post">
                    <h3><a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a></h3>
                </div>
            {% endfor %}
            <a href="/articles">See all articles</a>
        </div>
        <div class="col-md-4">
            <h2>Events</h2>
            <div id="events-snapshot">Automatically generate events...</div>
            <a href="/events">See all events</a>
        </div>
        <div class="col-md-4">
            <h2>Jobs & Projects</h2>
            <div id="jobs-snapshot">Automatically generate jobs...</div>
            <a href="/jobs">See all jobs</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 activity">
            <h2>Activity</h2>
            <ul id="activity-feed" class="activity"></ul>
        </div>
    </div>
</section>
<section id="contact" class="container content-section text-center contact">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Us</h2>
            <p>
                Reach out to us on Twitter, GitHub, or join us in the chat room.
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="//opencollective.com/opensourcedesign" class="btn btn-default btn-lg">
                        <i style="display: inline-flex; align-self: center;transform: translateY(0.125em);">
                         {% include img/opencollective-logo.svg %}
                        </i> <span class="network-name">Open Collective</span>
                    </a>
                </li>
                <li>
                    <a href="//twitter.com/{{ site.twitter_username }}" class="btn btn-default btn-lg">
                        <i class="fa fa-twitter fa-fw"></i> <span class="network-name">@{{ site.twitter_username }}</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/{{ site.github_username }}" class="btn btn-default btn-lg">
                        <i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span>
                    </a>
                </li>
                <li>
                    <a href="https://discourse.opensourcedesign.net" class="btn btn-default btn-lg">
                        <i class="fa fa-comment fa-fw"></i> <span class="network-name">Forum</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/code-of-conduct/" class="btn btn-default btn-lg">
                      <i class="fa fa-thumbs-up fa-fw"></i><span class="network-name">Code of Conduct</span>
                    </a>
                </li>
          </ul>
        </div>
    </div>
</section>
