---
layout: default
published: true
---

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="brand-heading">
                        {% include img/opensourcedesign-logo.svg %}
                    </div>
                    <h1 class="intro-text">Open Source Design</h1>
                    <p class="tagline">
                        Bringing great design to Open Source Software
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-md-4">
            <p><strong>We are a community of designers and developers pushing more open design processes and improving the user experience and interface design of open source software.</strong></p>
        </div>
        <div class="col-md-4">
            <p>We write <a href="/articles">articles</a>, run a <a href="/jobs">job board</a>, put on <a href="/events">events</a>, provide <a href="/resources">resources</a>, and present talks targeted at <strong>developers and designers</strong> interested in working and designing in Open Source.</p>
        </div>
        <div class="col-md-4">
            <p class="goals">Read more about <a href="/goals">our goals</a> and <a href="/faq">frequently asked questions</a>. If you are interested in contributing, check out the <a href="{{ site.url }}/contribute/" title="contribute">section on our site</a> for that. Also join our <a href="https://orgmanager.miguelpiedrafita.com/o/opensourcedesign" target="_blank">organization on GitHub</a> and <a href="https://discourse.opensourcedesign.net" target="_blank">our forum</a>.</p>
        </div>
    </div>
</section>
<section id="overview" class="container content-section overview">
    <div class="row">
        <div class="col-md-4">
            <h2>Articles</h2>
            {% for post in site.posts limit:3 %}
                <div class="post">
                    <h3><a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a></h3>
                </div>
            {% endfor %}
            <a href="/articles">See all articles</a>
        </div>
        <div class="col-md-4">
            <h2>Events</h2>
            <div id="events-snapshot">Automatically generate events...</div>
            <a href="/events">See all events</a>
        </div>
        <div class="col-md-4">
            <h2>Jobs & Projects</h2>
            <div id="jobs-snapshot">Automatically generate jobs...</div>
            <a href="/jobs">See all jobs</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 activity">
            <h2>Activity</h2>
            <ul id="activity-feed" class="activity"></ul>
        </div>
    </div>
</section>
<section id="contact" class="container content-section text-center contact">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Us</h2>
            <p>
                Reach out to us on Twitter, GitHub, or join us in the chat room.
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="//opencollective.com/opensourcedesign" class="btn btn-default btn-lg">
                        <i style="display: inline-flex; align-self: center;transform: translateY(0.125em);">
                          <svg width="1.3em" height="1em" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <defs></defs>
                              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g id="opencollective-logo">
                                      <g id="icon" transform="translate(0.000000, 0.000000)">
                                          <path d="M34.6194245,8.17880011 C36.7508489,11.2495266 38,14.9788859 38,19 C38,23.0211141 36.7508489,26.7504734 34.6194245,29.8211999 L29.6976779,24.8994533 C30.6641742,23.1506053 31.2142857,21.1395454 31.2142857,19 C31.2142857,16.8604546 30.6641742,14.8493947 29.6976779,13.1005467 L34.6194245,8.17880011 Z M29.8211999,3.38057552 L24.8994533,8.30232215 C23.1506053,7.33582578 21.1395454,6.78571429 19,6.78571429 C12.2542363,6.78571429 6.78571429,12.2542363 6.78571429,19 C6.78571429,25.7457637 12.2542363,31.2142857 19,31.2142857 C21.1395454,31.2142857 23.1506053,30.6641742 24.8994533,29.6976779 L29.8211999,34.6194245 C26.7504734,36.7508489 23.0211141,38 19,38 C8.50658975,38 0,29.4934102 0,19 C0,8.50658975 8.50658975,0 19,0 C23.0211141,0 26.7504734,1.24915112 29.8211999,3.38057552 Z" id="Combined-Shape-Copy-2" fill="#7FADF2"></path>
                                          <path d="M34.6194245,8.17880011 C36.7508489,11.2495266 38,14.9788859 38,19 C38,23.0211141 36.7508489,26.7504734 34.6194245,29.8211999 L29.6976779,24.8994533 C30.6641742,23.1506053 31.2142857,21.1395454 31.2142857,19 C31.2142857,16.8604546 30.6641742,14.8493947 29.6976779,13.1005467 L34.6194245,8.17880011 Z" id="closing-o" fill="#B8D3F4"></path>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </i> <span class="network-name">Open Collective</span>
                    </a>
                </li>
                <li>
                    <a href="//twitter.com/{{ site.twitter_username }}" class="btn btn-default btn-lg">
                        <i class="fa fa-twitter fa-fw"></i> <span class="network-name">@{{ site.twitter_username }}</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/{{ site.github_username }}" class="btn btn-default btn-lg">
                        <i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span>
                    </a>
                </li>
                <li>
                    <a href="https://discourse.opensourcedesign.net" class="btn btn-default btn-lg">
                        <i class="fa fa-comment fa-fw"></i> <span class="network-name">Forum</span>
                    </a>
                </li>
                <li>
                    <a href="https://orgmanager.miguelpiedrafita.com/o/opensourcedesign" class="btn btn-default btn-lg">
                        <i class="fa fa-users fa-fw"></i> <span class="network-name">Join us!</span>
                    </a>
                </li>
          </ul>
        </div>
    </div>
</section>
