<section id="events" class="container">
  <h1>Events</h1>
  <p class="subtitle">
    Upcoming Open Source Design Events
  </p>
  <div class="event-board-container grid-c-3">
    {% assign latest_events = site.events | sort: 'date' | reverse | slice: 0, 3 %}
    {% for event in latest_events %}
    <article class="card">
      <div class="image-container">
        <img />
      </div>
      <a href="#"><h3>
        {{ event.title }}
      </h3></a>
      <div class="meta">
        <span>{{ event.eventDate }}</span>
      </div>
    </article>
    {% endfor %}
  </div>
  <p class="see-more"><a href="/events">See all Events</a></p>
</section>