<section id="hero">
  <div class="container">
    <h2>Open Source deserves better design</h2>
    <p class="subtitle">
      We are a community of designers and developers pushing more
      open design processes and improving the user experience and
      interface design of open source software.
    </p>
    <div class="cta-container d-flex">
      <a href="" class="btn btn-primary">Get Involved</a>
      <a href="/events/" class="btn btn-secondary">Upcoming Events</a>
    </div>
  </div>
</section>