<section id="jobs" class="container">
  <h1>Job Board</h1>
  <p class="subtitle">
    Check out our job board for new jobs in open source projects,
    both paid and gratis. Interested? Reach out to the job poster!
  </p>
  <div class="job-board-container grid-c-3">
    <article class="card">
      <a href="#"><h3>
        Flat Infographic Illustrations/icons for a website page
      </h3></a>
      <div class="meta">
        <span>Organization</span>
        <span class="separator oval"></span>
        <span class="payment paid">Paid</span>
      </div>
    </article>
    <article class="card">
      <a href="#"><h3>
        Flat Infographic Illustrations/icons for a website page
      </h3></a>
      <div class="meta">
        <span>Organization</span>
        <span class="separator oval"></span>
        <span class="payment gratis">Gratis</span>
      </div>
    </article>
    <article class="card">
      <a href="#"><h3>
        Flat Infographic Illustrations/icons for a website page
      </h3></a>
      <div class="meta">
        <span>Organization</span>
        <span class="separator oval"></span>
        <span class="payment paid">Paid</span>
      </div>
    </article>
    <article class="card">
      <a href="#"><h3>
        Flat Infographic Illustrations/icons for a website page
      </h3></a>
      <div class="meta">
        <span>Organization</span>
        <span class="separator oval"></span>
        <span class="payment gratis">Gratis</span>
      </div>
    </article>
    <article class="card">
      <a href="#"><h3>
        Flat Infographic Illustrations/icons for a website page
      </h3></a>
      <div class="meta">
        <span>Organization</span>
        <span class="separator oval"></span>
        <span class="payment paid">Paid</span>
      </div>
    </article>
    <article class="card">
      <a href="#"><h3>
        Flat Infographic Illustrations/icons for a website page
      </h3></a>
      <div class="meta">
        <span>Organization</span>
        <span class="separator oval"></span>
        <span class="payment paid">Paid</span>
      </div>
    </article>
  </div>
  <p class="see-more"><a href="/jobs">See all Job Postings</a></p>
</section>