<section id="jobs" class="container wide-containers">
  <h1>Job Board</h1>
  <p class="subtitle">
    Check out our job board for new jobs in open source projects,
    both paid and gratis. Interested? Reach out to the job poster!
  </p>
  <div class="job-board-container grid-c-3">
    {% assign latest_jobs = site.jobs | where: "status", "searching" | sort: 'date_posted' | reverse | slice: 0, 6 %}
    {% for job in latest_jobs %}
    <article class="card">
      <a href="{{ job.url | prepend: site.baseurl }}" class="stretch"><h3>
        {{ job.title }}
      </h3></a>
      <div class="meta">
        <span>{{ job.organization }}</span>
        <span class="separator oval"></span>
        <span class="payment {{ job.compensation }}">{{ job.compensation }}</span>
      </div>
    </article>
    {% endfor %}
  </div>
  <p class="see-more"><a href="/jobs">See all Job Postings</a></p>
</section>