<section id="showcase" class="container wide-containers">
  <h2>This Month’s Open Design Showcase</h2>
  <p class="subtitle">
    See some awesome open designs from amazing designers.
  </p>
  <ul class="showcase-container grid-c-3">
    {% for showcase in site.showcases %}
    <li>
      <article class="card">
        <div class="image-container">
          <img src="" width="350" height="221" />
        </div>
        <a href="#"><h3>
          {{ showcase.project_name }}
        </h3></a>
        <div class="meta">
          <span>By {{ showcase.author }}</span>
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
</section>