/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparentize($grayscale-dark, 0.8);
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

img {
  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1,
.h1,
h2,
.h2,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 35px;
  font-family: $grayscale-headline-font-family;
  font-weight: bold;
}

h3,
.h3 {
  margin: 0 0 35px;
  font-family: $grayscale-headline-font-family;
  font-weight: bold;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  /*&:visited {
        color: darken($brand-color, 15%);
    }*/

  /*&:hover {
        color: $text-color;
        border-bottom: 1px solid $text-color;
    }*/
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: darken($grayscale-primary, 0.2);
  }
}

/**
 * Buttons
 */

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid $grayscale-dark;
  border-radius: 35px;
  font-size: 40px;
  color: $grayscale-dark;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    color: $grayscale-dark;
    background: transparentize($grayscale-dark, 0.9);
  }
}

.btn {
  text-transform: uppercase;
  font-family: $montserrat;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-default {
  @include button-variant(
    $grayscale-primary,
    transparentize(white, 1),
    $grayscale-primary
  );

  &:hover,
  &:focus {
    border: 1px solid $grayscale-primary;
    outline: none;
    color: $grayscale-light;
    background-color: $grayscale-primary;
  }
}

/**
 * Paragraphs
 */

p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.4;
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
/*.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}*/

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
  color: #828282;
}

.light {
  font-weight: 400;
}

.heavy {
  font-weight: bold;
}

::-moz-selection,
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: transparentize($grayscale-dark, 0.8);
}
