// Smooth Scrolling

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1140px;
  margin: 5rem auto 8rem;
}

///////////////////
//   Job Board   //
///////////////////

.job-board-container {
  margin: 2.25rem 0;

  span.payment {
    font-weight: 700;
    text-transform: capitalize;

    &.paid {
      color: $green;
    }

    &.gratis {
      color: $red;
    }
  }
}


///////////////////
// Event Board   //
///////////////////

.event-board-container {
  .card {
    min-height: 20rem;
  }
}


///////////////////
// Showcases     //
///////////////////

.showcase-container {
  .card {
    min-height: 20rem;

    .image-container {
      height: 69.5%
    }
  }
}
