// Smooth Scrolling

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 775px;
  margin: 5rem auto 8rem;

  &.wide-containers {
    max-width: 1140px;
  }

  ul, ol {
    padding: 0;
  }
}

img[src=""],
img:not([src]) {
  opacity: 0
}

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
}


///////////////////
//   Hero        //
///////////////////
section#hero {
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  color: $white;

  .container {
    margin: 0 auto;
    padding: 20rem 20rem 16rem;
  }

  .cta-container {
    justify-content: center;
  }
}


///////////////////
//   Job         //
///////////////////

.job-board-container {
  margin: 2.25rem 0;

  span.payment {
    font-weight: 700;
    text-transform: capitalize;

    &.paid {
      color: $green;
    }

    &.gratis {
      color: $red;
    }
  }
}

.job-page {
  article label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
}


///////////////////
// Event         //
///////////////////

.event-board-container {
  margin: 2.25rem 0;
  .card {
    min-height: 20rem;
  }
}
.event-listing {
  .post-list {
    list-style: none;
    padding: 0;
  }

  h2 {
    text-align: center;
    margin-top: 5rem;
  }

  .events {
    margin-bottom: 3rem;
    h3 {
      margin-bottom: 0.75rem;
    }
    p {
      margin-top: 0.75rem
    }
  }
}


///////////////////
// Showcases     //
///////////////////

.showcase-container {
  margin: 2.25rem 0;
  .card {
    min-height: 20rem;

    .image-container {
      height: 69.5%
    }
  }
}

.post-header {
  margin-bottom: 5rem;
}
