/**
 * Site footer
 */

footer {
  padding: 50px 0;

  p {
    margin: 0;
  }
}

.page-footer {
  text-align: center;
}

.site-footer {
  .social-media-list {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 20px;
    }
  }
}
