h2 {
  font-size: 24px;
}

.post {
  margin-top: 3rem;

  h3 {
    text-align: left;
    font-size: 18px;
    text-transform: none;
  }
}

.excerpt {
  h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    text-transform: none;
    text-align: left;
  }

  p {
    font-size: 16px;
  }
}

.content-section {
  margin-bottom: $spacing-unit * 2;
}

/*** Activity Feed ***/

.activity {
  margin-top: $spacing-unit * 3;
  text-align: center;

  .item {
    display: inline-block;
  }
}

.activity li {
  list-style-type: none;
  font-size: 16px;
  line-height: 16px;
  clear: both;
  position: relative;
  margin-bottom: 25px;

  margin-right: 15px;
}

.activity .item a.avatar {
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}

.activity .item a.avatar img {
  width: 24px;
  display: inline;
}

.activity .item .content {
  top: 0px;
  left: 35px;
  vertical-align: top;
  display: inline-block;

}

.activity .item .date {
  display: block;
  font-size: .75em;
  color: #999;
}
