.intro {
  display: table;
  width: 100%;
  height: auto;
  margin-top: -50px;
  margin-bottom: 2em;
  padding: 50px 0;
  text-align: center;
  color: $grayscale-dark;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .brand-heading {
    img,
    svg {
      width: 120px;
      padding-top: 20px;
    }
    svg {
      display: block;
      margin: 0 auto;
    }
  }

  .intro-body {
    display: table-cell;
    padding: 3em 0;
    vertical-align: middle;
    background-image: url("../images/2017-fosdem-picture-compressed-blur30px.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    color: #fff;

    .brand-heading {
      font-size: 40px;
      margin-bottom: 0.2em;

      path {
        color: #000;
        fill: #fff;
      }
    }

    .intro-text {
      font-size: 18px;
      margin-bottom: 0.5em;
      font-family: $montserrat;
    }
  }
}

@media (min-width: $screen-xs-max) {
  .intro {
    height: 100%;
    padding: 0;

    .intro-body {
      .brand-heading {
        font-size: 100px;
      }

      .intro-text {
        font-size: 36px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .intro {
    margin-bottom: 0;
    padding: 0;
  }
}

h2 {
  font-size: 24px;
}

.post {
  margin-top: 3rem;

  h3 {
    text-align: left;
    font-size: 18px;
    text-transform: none;
  }
}

.excerpt {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
    text-transform: none;
    text-align: left;
  }

  p {
    font-size: 16px;
  }
}

.content-section {
  margin-bottom: $spacing-unit * 3;
}

.about {
  padding-top: 8em;

  p {
    width: 44%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-right: 5%;
  }

  .goals {
    margin-top: $spacing-unit;
    text-align: center;
  }
}

@media (max-width: $screen-xs-max) {
  .about {
    margin-bottom: $spacing-unit * 2;
    padding-top: 6em;

    p {
      width: 100%;
      text-align: left;
      margin-right: 0;
      padding: 0 1em;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .content-section.overview {
    h2 {
      margin-top: 1em;
    }
  }
}

.contact.content-section {
  margin-bottom: $spacing-unit * 2;
}

ul.banner-social-buttons {
  margin-top: 0;
  li {
    margin-top: 15px;
  }
}

@media (max-width: $screen-xs-max) {
  ul.banner-social-buttons {
    li {
      display: block;
      margin-top: 0;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
      &:first-child {
        margin-top: 15px;
      }
    }
  }
}

/*** Supporters Section ***/

.supporters,
.affiliates {
  text-align: center;
  padding: 40px 0;

  & img {
    margin: 25px;
  }

  &.backers object {
    width: 400px;
    height: 280px;
  }
}

@media(max-width: $screen-xs-max) {
  .supporters {
    margin-bottom: 20px;
  }
}
