/*
* Greyscale overwrites.
*/

.navbar-custom {
  margin-bottom: 0;
  font-family: $montserrat;
  background-color: #fff;

  .navbar-brand {
    font-weight: 700;
    height: auto;
    padding: 15px 15px 8px;
    line-height: inherit;
    opacity: 0;

    &:focus {
      outline: none;
    }

    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: $grayscale-dark;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  .navbar-brand.page-scroll {
    opacity: 100;
  }

  a {
    color: $grayscale-dark;
  }

  .nav {
    li {
      &.active {
        outline: none;
        background-color: transparentize($grayscale-dark, 0.7);
      }

      a {
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;

        &.active {
          font-weight: bold;
        }

        &:hover,
        &:focus,
        &.active {
          outline: none;
          background-color: transparentize($grayscale-dark, 0.7);
        }
      }
    }
  }
}

.navbar-collapse {
  background: #fff;
}

.navbar-custom .navbar-collapse a {
  color: #000;
}

.navbar-custom .navbar-brand {
  font-size: 16px;
}

@media (min-width: $screen-xs-max) {
  .navbar {
    padding: 10px 0;
    border-bottom: none;
    background: $background-color;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .navbar-custom .navbar-collapse a {
    color: #000;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid transparentize($grayscale-dark, 0.7) !important;
  }

  .navbar-custom {
    .top-nav-collapse {
      border-bottom: 1px solid transparentize($grayscale-dark, 0.7);
    }
  }

  .navbar-custom .navbar-brand {
    font-size: 18px;
  }
}

/**
 * Site header
 */
.site-header {
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.navbar-brand .logo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 4px;
  margin-top: -4px;
  display: inline-block;

  path {
    color: #fff;
    fill: #000;
  }
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-title-logo {
  width: 32px;
  vertical-align: text-bottom;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: #000;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

.navbar-nav > li > a {
  padding-top: 20px;
}
