/**
 * Page content
 */
h1,
h3 {
  font-weight: bold;
}

h1,
h3,
h4 {
  text-align: center;
}

.page-content {
  padding: 140px 0 40px;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  margin-right: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

.scroll-to-top {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px $grey-color;
  border: 2px solid $grayscale-dark;
  font-size: 30px;
  text-align: center;
  color: $grayscale-dark;
  background-color: #fff;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  position: fixed;
  bottom: 50px;
  right: 50px;

  &:hover,
  &:focus {
    outline: none;
    color: $grayscale-dark;
    background: transparentize($grayscale-dark, 0.9);
  }
}

.job-list {
  margin-left: 0;
  list-style: none;

  > li {
    width: 100%;
    /*margin-right: 4%;*/
    list-style: none;
    margin-bottom: 2em;
    margin-top: 1em;
    display: inline-block;
    vertical-align: top;

    > h2,
    > p {
      margin-bottom: 0;
    }

    > h2 a,
    > .organization,
    > .rate {
      /*white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;*/
      max-width: 100%;
      display: block;
    }
  }
}

@media screen and (max-width: $on-palm) {
  .job-list > li {
    width: 95%;
  }
}
