.logo-intro-text {
  max-width: 540px;
  font-size: 1.2em;
  text-align: center;
  color: $text-color;
  margin: 1rem auto 1.5em;
}

.possible-logos ul {
  margin: 0;

  li {
    width: 30%;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
  }

  .src {
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 2em;
  }

  a {
    width: 100%;
    display: block;
    text-align: center;
  }

  a:hover {
    text-decoration: none;
    border-bottom: none;
  }

  img {
    margin: 0 auto;
    width: 80%;
  }
}
