:root {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  color: $black;
  background-color: $white;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

p.subtitle {
  text-align: center;
}

p.see-more {
  color: $purple;
  text-align: center;

  a {
    color: $purple;
  }
}

p.post-meta {
  font-size: 0.875rem;
  color: $dark-gray;
  text-align: center;
}
