$grayscale-primary: $brand-color !default;
$grayscale-dark: #444 !default;
$grayscale-light: #fff !default;

$montserrat: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
$lora: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;

$grayscale-body-font-family: $lora;
$grayscale-headline-font-family: $montserrat;
