/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter/inter-regular.woff2") format("woff2"),
    url("../fonts/inter/inter-regular.woff") format("woff");
}
/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/inter/inter-600.woff2") format("woff2"),
    url("../fonts/inter/inter-600.woff") format("woff");
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/inter/inter-500.woff2") format("woff2"),
    url("../fonts/inter/inter-500.woff") format("woff");
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inter/inter-700.woff2") format("woff2"),
    url("../fonts/inter/inter-700.woff") format("woff");
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/inter/inter-800.woff2") format("woff2"),
    url("../fonts/inter/inter-800.woff") format("woff");
}
