<!--
   ________
   \_____  \ ______   ____   ____
    /   |   \\____ \_/ __ \ /    \
   /    |    |  |_> \  ___/|   |  \
   \_______  |   __/ \___  |___|  /
           \/|__|        \/     \/
     _________
    /   _____/ ____  __ _________  ____  ____
    \_____  \ /  _ \|  |  \_  __ _/ ____/ __ \
    /        (  <_> |  |  /|  | \\  \__\  ___/
   /_______  /\____/|____/ |__|   \___  \___  >
           \/                         \/    \/
  ________                .__
  \______ \   ____   _____|__| ____   ____
   |    |  \_/ __ \ /  ___|  |/ ___\ /    \
   | ___|   \  ___/ \___ \|  / /_/  |   |  \
  /_______  /\___  /____  |__\___  /|___|  /
          \/     \/     \/  /_____/      \/

  Bringing great design to open source, one pixel at a time!
-->
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include header.html %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    {{ page.end_scripts }}
  </body>
</html>
